.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dashboardContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center; 
    margin-top: 50vh; 
  }